@media screen and (max-width: 767px) {

}

@media screen and (max-width: 320px){

  .nav-links {
    position: fixed;
    top: 0.1rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: black;
    transition: .5s;
  }
  .intro{
     margin-top: 70px;
     margin-left: -30px; 
  }
  .intro h1 {
      font-size: 35px;
  }
  .intro h3{
      font-size: 15px;
  }   
  .intro h4{
      font-size: 15px;
  }
  .bo,
  .bo2,
  .bo3,
  .bo4,
  .bo5,
  .bo6 {
  width: 33px;
  height: 33px;
  margin: 20px ;
  margin-left: 5px;
  }

  .container h1{
    font-size: 15px;
  }

  td{
    font-size: 10px;
  }

  .book-list{
      font-style: 10px;
  }

  .header{
      display: flex;
  }

  .project-card{
      height: 90px;
      width: 90px;
  }

  table {
    margin-left: -5px;
    width: 150px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #333;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .subject-image{
      height: 5px;
  }

  .developer-card{
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      padding: 2px;
      border-radius: 2px;
      max-width: 650px;
  }

  .developer-info h2 {
      font-size: 15px;
      margin: 0;

  }

  .developer-info p {
      font-size: 10px;
  }

  .developer-info a {
      text-decoration: none;
      font-size: 10px;
  }
  .developer-image img{
      max-width: 150px;
  }

}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

  }

@media screen and (min-width: 992px) {

}
