@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    background-image: url('./assets/anime-window.gif');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
}

.intro{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: black;
    padding-left: 17%;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    margin-left: 8%;
}

.bo .bo2 {
    width: 200px;
    height: 200px;
    float: left;
}
.bo5 {
    width: 200px;
    height: 200px;
    float: right;
}

.bo,
.bo2,
.bo3,
.bo4,
.bo5,
.bo6 {
    width: 2in;
    height: 2in;
    margin: 20px 0;
}

span{
    color: #f9004d;
}

h1 {
    margin: 20px 0;
    font-size: 75px;
}

h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    letter-spacing: 2px;
    font-size: 20px;
}

.container img {
    display: block;
    margin: 20px auto;
    width: 192px;
    height: 192px;
}

.container {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 1); 
}

.menu-toggle {
    cursor: pointer;
    z-index: 1000; /* Ensure it's on top of other elements */
}

.bar {
    background-color: #f0f0f0;
    height: 3px;
    width: 30px;
    margin: 3px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    
}

.nav-links li {
    margin: 0 40px;
}

.nav-links a {
    color: #f0f0f0;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    transform: scale(1.05);
    color: #faa61a;
}

.slide-in-menu {
    list-style: none;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #202225;
    transition: 0.5s;
    padding: 50px 0;
    z-index: 1000; /* Ensure it's on top */
}

.slide-in-menu li {
    margin: 20px 0;
    text-align: center;
}

.slide-in-menu a {
    text-decoration: none;
    color: #ffffff;
}

.slide-in-menu a:hover {
    transform: scale(1.05);
    color: #faa61a;
}

.close-button {
    text-align: right;
    margin-right: 10px;
}

.close-button a {
    text-decoration: none;
    color: #ffffff;
}

.close-button a:hover {
    color: orange;
}

.close-button i {
    font-size: 20px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202225;
    height: 50px;
}

footer a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
}

.developer-card {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.developer-image {
    flex: 2;
}

.developer-image img {
    max-width: 200px;
    border-radius: 5px;
}

.developer-info {
    flex: 2;
    padding: 5px;
}

.developer-info h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.developer-info p {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}

.developer-info a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
    font-size: 18px;
}

.slide-in-menu .social-media-link {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.slide-in-menu .social-media-link i {
    margin-left: 135px;
}

.slide-in-menu .social-media-link a {
    text-decoration: none;
    color: #ffffff;
}

table {
    margin-left: 550px;
    width: 1010px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #333;
    margin-bottom: 20px;
    font-size: 16px;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
}

tr {
    color: #36393f;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

tr:hover {
    background-color: #ddd;
}

.subject-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.subject-card {
    border: 1px solid #ccc;
    padding: 10px;
    height: 176px;
    color: #faa61a;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.subject-card:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
}

.subject-image {
    height: 150px;
    object-fit: cover;
}

.subject-name {
    font-weight: bold;
    margin-top: 10px;
}

.books-list {
    margin-top: 20px;
}

.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.semester-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.semester-card {
    border: 1px solid #ccc;
    padding: 10px;
    height: 250px;
    width: 200px;
    color: #ccc;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    margin: 40px 20px;
    margin-left: 250px;
}

.semester-card:hover {
    transform: scale(1.05);
}

.semester-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.semester-name {
    font-weight: bold;
    margin-top: 10px;
}

.semester-card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

@media (max-width: 700px) {
    .semester-card {
        flex: 0 1 100%;
        margin-right: 0;
    }
}

.project-card {
    width: 288px;
    height: 288px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card h3 {
    margin: 15px 0;
}

.project-card a {
    display: block;
    background-color: #007BFF;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media screen and (max-width: 767px) {
    .nav-links {
      position: fixed;
      top: 0.1rem;
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: black;
      transition: .5s;
    }

    .intro{
       margin-top: 70px;
       margin-left: -30px; 
    }
    h1 {
        font-size: 20px;
    }
    h3{
        font-size: 10px;
    }   
    h4{
        font-size: 10px;
    }
    .bo,
    .bo2,
    .bo3,
    .bo4,
    .bo5,
    .bo6 {
    width: 50px;
    height: 50px;
    margin: 20px 0;
    margin-left: 5px;
    }

    .book-list{
        font-style: 10px;
    }

    .header{
        display: flex;
    }

    .project-card{
        height: 90px;
        width: 90px;
    }

    table {
        margin-left: 55px;
        width: 101px;
        margin-bottom: 20px;
        font-size: 10px;
        margin-left: 29.5px;
    }

    .subject-image{
        height: 5px;
    }

    .developer-card{
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        padding: 2px;
        border-radius: 2px;
        max-width: 650px;
    }

    .developer-info h2 {
        font-size: 15px;
        margin: 0;

    }

    .developer-info p {
        font-size: 10px;
    }

    .developer-info a {
        text-decoration: none;
        font-size: 10px;
    }
    .developer-image img{
        max-width: 150px;
    }
}

@media screen and (max-width: 320px) {
    .home {
      row-gap: 2rem;
    }
    .home__img {
      width: 200px;
    }
}

@media screen and (min-width: 576px) {
    .home {
      padding: 4rem 0 2rem;
    }
    .home__social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon {
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img {
      width: 300px;
      bottom: 25%;
    }
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
    }
    .skills__container {
      grid-template-columns: .7fr;
      justify-content: center;
      column-gap: 1rem;
    }
    .work__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      padding-top: 2rem;
    }
    .contact__form {
      width: 360px;
      padding-top: 2rem;
    }
    .contact__container {
      justify-items: center;
    }
}

@media screen and (min-width: 768px) {
    body {
      margin: 0;
    }
    .section {
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title {
      margin-bottom: var(--mb-6);
    }
    .section-title::after {
      width: 80px;
      top: 3rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__link {
      color: var(--second-color);
    }
    .home {
      padding: 8rem 0 2rem;
    }
    .home__img {
      width: 400px;
      bottom: 10%;
    }
    .about__container {
      padding-top: 2rem;
    }
    .about__img img {
      width: 300px;
    }
    .skills__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      align-items: center;
      text-align: initial;
    }
    .work__container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }
  }

@media screen and (min-width: 992px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
    .home {
      padding: 10rem 0 2rem;
    }
    .home__img {
      width: 450px;
    }
}