@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif-2 {
    
    border: solid white;
    background-color: white;
    border-radius: 10px;
    padding: .5vw 3.2vw .5vw .5vw;
}

.m-t-50px {padding-top: 30px;}

hr {
    border: 0;
    height: 10px;
    background-color: #222222 !important;
}

.last-section {

    text-align: center;
    background-color: #030104;
    color: white;
    padding-top: 5vw;
}


.section-1::before {
    height: 95vh; width: 500%;
    z-index: -1;
    margin: 0%;
}

.section-1
{
    height: 95vh;
    margin-bottom: 0px;
} 

.music-box {
    text-align: center;
    margin-top: 20px;
}

.music-box p {
    margin: 0;
}

.play-button, .stop-button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s; 
}

.play-button {
    color: #007BFF; 
}

.play-button:hover {
    color: #0056b3; 
}

.stop-button {
    color: #FF0000; 
}

.stop-button:hover {
    color: #CC0000; 
}


.section-2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #030104;
    color: white;
}


.section-1-mid {
    text-align: center;
    margin-top: 80px;
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(255, 255, 255);
}


.website-name {
    font-family: 'Otomanopee One', sans-serif;
    color: white;
}

body {
    background-image: url('./assets/anime-window.gif');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
}

.container img {
    display: block;
    margin: 20px auto;
    width: 192px;
    height: 192px;
}

.container {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 1); 
}
.container p{
    font-size: 20px;
}
.container h1,
.container h2{
    font-size: 50px;
}

.menu-toggle {
    cursor: pointer;
    z-index: 1000; 
}

.bar {
    background-color: #f0f0f0;
    height: 3px;
    width: 30px;
    margin: 3px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    
}

.nav-links li {
    margin: 0 40px;
}

.nav-links a {
    color: #f0f0f0;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    transform: scale(1.05);
    color: #faa61a;
}

.slide-in-menu {
    list-style: none;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #202225;
    transition: 0.5s;
    padding: 50px 0;
    z-index: 1000; 
}

.slide-in-menu li {
    margin: 20px 0;
    text-align: center;
}

.slide-in-menu a {
    text-decoration: none;
    color: #ffffff;
}

.slide-in-menu a:hover {
    transform: scale(1.05);
    color: #faa61a;
}

.close-button {
    text-align: right;
    margin-right: 10px;
}

.close-button a {
    text-decoration: none;
    color: #ffffff;
}

.close-button a:hover {
    color: orange;
}

.close-button i {
    font-size: 20px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202225;
    height: 50px;
}

footer a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
}

.developer-card {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.developer-image {
    flex: 2;
}

.developer-image img {
    max-width: 200px;
    border-radius: 5px;
}

.developer-info {
    flex: 2;
    padding: 5px;
}

.developer-info h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.developer-info p {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}

.developer-info a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
    font-size: 18px;
}


table {
   margin-left: 400px;
    width: 700px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #333;
    margin-bottom: 20px;
    font-size: 10px;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
}

tr {
    color: #36393f;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    font-size: 15px;
}

tr:hover {
    background-color: #ddd;
}

.subject-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.subject-card {
    border: 1px solid #ccc;
    padding: 10px;
    height: 176px;
    color: #faa61a;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.subject-card:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
}

.subject-image {
    height: 150px;
    object-fit: cover;
}

.subject-name {
    font-weight: bold;
    margin-top: 10px;
}

.books-list {
    margin-top: 20px;
}

.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.semester-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.semester-card {
    border: 1px solid #ccc;
    padding: 10px;
    height: 250px;
    width: 200px;
    color: #ccc;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    margin: 40px 20px;
    margin-left: 250px;
}

.semester-card:hover {
    transform: scale(1.05);
}

.semester-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.semester-name {
    font-weight: bold;
    margin-top: 10px;
}

.semester-card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.project-card {
    width: 288px;
    height: 288px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card h3 {
    margin: 15px 0;
}

.project-card a {
    display: block;
    background-color: #007BFF;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
