@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

<<<<<<< Updated upstream
=======

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif-2 {
    
    border: solid white;
    background-color: white;
    border-radius: 10px;
    padding: .5vw 3.2vw .5vw .5vw;
}

.m-t-50px {padding-top: 30px;}

hr {
    border: 0;
    height: 10px;
    background-color: #222222 !important;
}

.last-section {

    text-align: center;
    background-color: #030104;
    color: white;
    padding-top: 5vw;
}


.section-1::before {
    height: 95vh; width: 500%;
    z-index: -1;
    margin: 0%;
}

.section-1
{
    height: 95vh;
    margin-bottom: 0px;
    font-size: 40px;
} 

.music-box {
    text-align: center;
    margin-top: 20px;
}

.music-box p {
    margin: 0;
    font-size: 20px;
}

.play-button, .stop-button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s; 
}

.play-button {
    color: #007BFF; 
}

.play-button:hover {
    color: #0056b3; 
}

.stop-button {
    color: #FF0000; 
}

.stop-button:hover {
    color: #CC0000; 
}


.section-2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #030104;
    color: white;
    font-size: 30px;
}


.section-1-mid {
    text-align: center;
    margin-top: 80px;
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(255, 255, 255);
}


.website-name {
    font-family: 'Otomanopee One', sans-serif;
    color: white;
}

>>>>>>> Stashed changes
body {
    background-image: url('./assets/anime-window.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
}

.intro{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: black;
    padding-left: 20%;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
}

.fighting {
    padding-left: 3px;
    height: 30px;
    width: 30px;

}

.chika{
    padding-right: 3px;
}

.ggg{
    padding-top: 1px;
    padding-right: 20%;
}

.dance{
    padding-left: 0%;
}

.intro img {
    width: 150px; 
    height: auto;
    
}

.intro img {
    width: 180px;
    height: 180px;
    display: block;
    margin: 20px auto;
    border-radius: 20%;
}



span{
    color: #f9004d;
}

h1 {
    margin: 20px 0;
    font-size: 75px;
}

h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    letter-spacing: 2px;
    font-size: 20px;
}

h5{
    color: black;
}

h6{
    color: black;
    font-size: 30px;
}

.container img {
    display: block;
    margin: 20px auto;
    width: 192px;
    height: 192px;
}

.container {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.menu-toggle {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    background-color: #f0f0f0;
    height: 3px;
    width: 30px;
    margin: 3px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 40px;
}

.nav-links a {
    color: #f0f0f0;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    transform: scale(1.05);
    color: #faa61a;
}

.slide-in-menu {
    list-style: none;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 1200px;
    background-color: #202225;
    transition: 0.5s;
    padding: 50px 0;
}

.slide-in-menu li {
    margin: 20px 0;
    text-align: center;
}

.slide-in-menu a {
    text-decoration: none;
    color: #ffffff;
}

.slide-in-menu a:hover {
    transform: scale(1.05);
    color: #faa61a;
}

.close-button {
    text-align: right;
    margin-right: 10px;
}

.close-button a {
    text-decoration: none;
    color: #ffffff;
}

.close-button a:hover {
    color: orange;
}

.close-button i {
    font-size: 20px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202225;
    height: 50px;
}

footer a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
}

/* Contacts */
.developer-card {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.developer-image {
    flex: 1;
}

.developer-image img {
    max-width: 150px;
    border-radius: 5px;
}

.developer-info {
    flex: 2;
    padding: 20px;
}

.developer-info h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.developer-info p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.developer-info a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
    font-size: 18px;
}

table {
    margin-left: 100px;
    width: 900px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #333;
    margin-bottom: 20px;
    align-items: center;
}

.container td{
    font-size: 20px;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
}

tr {
    color: #36393f;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

tr:hover {
    background-color: #ddd;
}

.subject-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.subject-card {
    border: 1px solid #ccc;
    padding: 10px;
    height: 176px;
    color: #faa61a;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.subject-card:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
}

.subject-image {
    height: 150px;
    object-fit: cover;
}

.subject-name {
    font-weight: bold;
    margin-top: 10px;
}

.books-list {
    margin-top: 20px;
}

.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card {
    width: 288px;
    height: 288px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card h3 {
    margin: 15px 0;
    color: black;
}

.project-card a {
    display: block;
    background-color: #007BFF;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media screen and (max-width: 767px) {
    .header{
        padding-right: 900px;
        margin-right: 900px;
        width: 700px;
    }
  
    .intro{
       margin-top: 70px;
       margin-left: -30px; 
    }
    h1 {
        font-size: 20px;
    }
    h3{
        font-size: 10px;
    }   
    h4{
        font-size: 10px;
    }
    .bo,
    .bo2,
    .bo3,
    .bo4,
    .bo5,
    .bo6 {
    width: 50px;
    height: 50px;
    margin: 20px 0;
    margin-left: 5px;
    }
    
    .book-list{
        font-style: 10px;
    }
  
   
  
    .project-card{
        height: 90px;
        width: 90px;
    }
  
    table {
        width: 300px;
        font-size: 20px;
        margin-left: 220px;
    }
    
    td{
        font-size: 20px;
    }

    .subject-image{
        height: 5px;
    }
  
    .developer-card{
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        padding: 2px;
        border-radius: 2px;
        max-width: 650px;
    }
   
    .developer-info h2 {
        font-size: 15px;
        margin: 0;
        
    }
    
    .developer-info p {
        font-size: 10px;
    }
    
    .developer-info a {
        text-decoration: none;
        font-size: 10px;
    }
    .developer-image img{
        max-width: 150px;
    }
  }
  
@media screen and (max-width: 320px) {
    .header{
        padding-right: 300px;
    }
  
      .intro{
         margin-top: 100px;
         margin-left: -30px; 
      }
      h1 {
          font-size: 25px;
      }
      h3{
          font-size: 15px;
      }   
      h4{
          font-size: 15px;
      }
      .bo,
      .bo2,
      .bo3,
      .bo4,
      .bo5,
      .bo6 {
      width: 40px;
      height: 40px;
      margin: 20px;
      margin-left: 20px;
      }
      
      .book-list{
          font-size: 10px;
      }
  
      .header{
          display: flex;
      }
  
      .project-card{
          height: 80px;
          width: 80px;
      }
  
      table {
          margin-left: 1px;
          font-size: 10px;
      }

      td{
        font-size: 10px;
      }

      h5{
        font-size: 15px;
      }
      
      .subject-image{
          height: 5px;
      }
  
      .developer-card{
          display: flex;
          align-items: center;
          background-color: #f5f5f5;
          padding: 2px;
          border-radius: 2px;
          max-width: 650px;
      }
     
      .developer-info h2 {
          font-size: 15px;
          margin: 0;
          
      }
      
      .developer-info p {
          font-size: 13px;
      }
      
      .developer-info a {
          text-decoration: none;
          font-size: 10px;
      }
      .developer-image img{
          max-width: 120px;
      }

      .project-card img{
        max-width: 75px;
      }
      .project-card h3{
        font-size: 13px;
      }
  }
  
@media screen and (min-width: 576px) {
    .nav-links {
        position: fixed;
        top: 0.1rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: black;
        transition: .5s;
      }
  
      .intro{
         margin-top: 70px;
         
      }
      h1 {
          font-size: 70px;
      }
      h3{
          font-size: 30px;
      }   
      h4{
          font-size: 30px;
      }
      .bo,
      .bo2,
      .bo3,
      .bo4,
      .bo5 {
      width: 100px;
      height: 100px;
      
      
      }
      
      .book-list{
          font-style: 10px;
      }
  
      .header{
          display: flex;
      }
  
      .project-card{
          height: 90px;
          width: 90px;
      }
  
      .project-card h3{
        font-size: 15px;
      }
      
      h5{
        font-size: 20px;
      }
      table {
          width: 400px;
          margin-bottom: 20px;
          font-size: 5px;
          margin-left: 80px;
          font-size:10px;
      }
      
    }
      
      .developer-card{
          display: flex;
          align-items: center;
          background-color: #f5f5f5;
          padding: 2px;
          border-radius: 2px;
          max-width: 650px;
      }
     
      .developer-info h2 {
          font-size: 15px;
          margin: 0;
          
      }
      
      .developer-info p {
          font-size: 10px;
      }
      
      .developer-info a {
          text-decoration: none;
          font-size: 10px;
      }
      .developer-image img{
          max-width: 150px;
      }
  
  
@media screen and (min-width: 768px) {
    .nav-links {
        position: fixed;
        top: 0.1rem;
        right: -100%;
        width: 80%;
        height: 100px;
        padding: 2rem;
        background-color: black;
        transition: .5s;
      }
  
      .intro{
         margin-top: -210px;
         margin-left: 40px; 
      }
      h1 {
          font-size: 40px;
      }
      h3{
          font-size: 20px;
      }   
      h4{
          font-size: 20px;
      }
      .bo,
      .bo2,
      .bo3,
      .bo4,
      .bo5,
      .bo6 {
      width: 50px;
      height: 50px;
      margin: 20px;
      margin-left: 5px;
      }
      
      .book-list{
          font-style: 10px;
      }
  
      .header{
          display: flex;
      }
  
      .project-card{
          height: 90px;
          width: 90px;
      }
  
      h5{
        font-size: 30px;

      }

      table {
          width: 550px;
          margin-bottom: 20px;
          font-size: 20px;
          margin-left: 115px;
      }
  
      .developer-card{
          display: flex;
          align-items: center;
          background-color: #f5f5f5;
          padding: 78px;
          border-radius: 20px;
          max-width: 650px;
      }
     
      .developer-info h2 {
          font-size: 40px;
          margin: 0;
          
      }
      
      .developer-info p {
          font-size: 20px;
      }
      
      .developer-info a {
          text-decoration: none;
          font-size: 25px;
      }
      .developer-image img{
          max-width: 150px;
      }
  }
  
@media screen and (min-width: 992px) {
    .nav-links {
        position: fixed;
        top: 0.1rem;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: black;
        transition: .5s;
      }
  
      .intro{
         margin-top: 1px;
         margin-left: 50px; 
      }
      h1 {
          font-size: 50px;
      }
      h3{
          font-size: 20px;
      }   
      h4{
          font-size: 20px;
      }
      .bo,
      .bo2,
      .bo3,
      .bo4,
      .bo5,
      .bo6 {
      width: 120px;
      height: 120px;
      margin: 20px;
      margin-left: -28px;
      }
      
      .book-list{
          font-style: 10px;
      }
  
      .header{
          display: flex;
      }
  
      .project-card{
          height: 400px;
          width: 400px;
      }
  
      table {
          margin-left: 48px;
          width: 900px;
          margin-bottom: 20px;
          font-size: 20px;
      }
  
      .developer-card{
          display: flex;
          align-items: center;
          background-color: #f5f5f5;
          padding: 40px;
          border-radius: 2px;
          max-width: 650px;
      }
     
      .developer-info h2 {
          font-size: 40px;
          margin: 0;
          
      }
      
      .developer-info p {
          font-size: 20px;
      }
      
      .developer-info a {
          text-decoration: none;
          font-size: 20px;
      }
      .developer-image img{
          max-width: 150px;
      }
}

@media screen and (min-width: 1920px){
    table {
        width: 1000px;
        margin-bottom: 20px;
        font-size: 20px;
        margin-left: 450px;
    }
}